<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="text-center">
        <h3>Hola! {{persona}}</h3>
        </p>
    </div>

    <div class="row">
        <div class="col-5">
            <h4>Administrador de Inicio</h4>
        </div>
        <div>
            <a class="btn btn-outline-success" href="/admin/inicio/agregar"><i class="fa fa-plus"
                    aria-hidden="true"></i>
                Resumen</a>
            <a class="btn btn-outline-secondary" href="/admin/noticias">Noticias
                <i class="fas fa-signout-alt"></i></a>
            <a class="btn btn-outline-secondary" href="/admin/rendimientos">Rendimientos
                <i class="fas fa-signout-alt"></i></a>
            <a class="btn btn-outline-danger" href="/admin/login/logout"> Salir
                <i class="fas fa-signout-alt"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Inicio</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Título</th>
                        <th scope="col" class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each inicio}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-secondary" href="/admin/inicio/modificar/{{id}}">
                                <i class="fa fa-pencil"></i></a>
                            <a class="btn btn-sm btn-secondary" href="/admin/inicio/eliminar/{{id}}">
                                <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>