<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="text-center"><h3>Hola! {{persona}}</h3> </p>
    </div>

    <div class="row">
        <div class="col-5">
            <h4>Noticias</h4>
        </div>
        <div>
            <a class="btn btn-outline-success" href="/admin/noticias/agregar"><i class="fa fa-plus" aria-hidden="true"></i>
                Nuevo</a>
                <a class="btn btn-outline-danger" href="/admin/login/logout"> Salir
                <i class="fas fa-signout-alt"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col" class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each noticias}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-secondary" href="/admin/noticias/modificar/{{id}}">
                                <i class="fa fa-pencil"></i></a>
                            <a class="btn btn-sm btn-secondary" href="/admin/noticias/eliminar/{{id}}">
                                <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>