<div class="container" style="margin-top: 50px;">
    <div class="row">
        <p class="text-center">
        <h3>Hola! {{persona}}</h3>
        </p>
    </div>

    <div class="row">
        <div class="col-5">
            <h4>Administrador de Rendimientos</h4>
        </div>
        <div>
            <a class="btn btn-outline-success" href="/admin/rendimientos/agregar"><i class="fa fa-plus"
                    aria-hidden="true"></i>
                Rendimiento</a>
            <a class="btn btn-outline-secondary" href="/admin/inicio">Inicio
                <i class="fas fa-signout-alt"></i></a>
            <a class="btn btn-outline-secondary" href="/admin/noticias">Noticias
                <i class="fas fa-signout-alt"></i></a>
            <a class="btn btn-outline-info" href="http://localhost:3001/"> Sitio
                <i class="fas fa-signout-alt"></i></a>
            <a class="btn btn-outline-danger" href="/admin/login/logout"> Salir
                <i class="fas fa-signout-alt"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p></p>
            <h3>Rendimientos</h3>
            <p>En esta sección podrás crear, editar y modificar los rendimientos mensuales por Fondo.</p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">nombre</th>
                        <th scope="col">rendimiento</th>
                        <th scope="col" class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each rendimientos}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{nombre}}</td>
                        <td>{{{rendimiento}}}</td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-secondary" href="/admin/rendimientos/modificar/{{id}}">
                                <i class="fa fa-pencil"></i></a>
                            <a class="btn btn-sm btn-secondary" href="/admin/rendimientos/eliminar/{{id}}">
                                <i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>